$color-element: #e55c8a
$color-element-alt: #a3acb9

$color-background: #3c424a

$color-border: #34383f

$color-text: #e1eaf2
$color-text-alt: #7e8287

$font-base: 16px/24px Arial, Helvetica, sans-serif

$height-header: 44px
